/**
 * Start our global rules
*/

@use '../abstracts' as *;

body {
  font: {
    family: $f_family;
    size: $f_size;
    weight: $f_regular;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}